@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.slider-list {
  @media screen and (min-width: 1024px) {

    &:hover {
      li:not(:hover) {
        img {
          filter: grayscale(1);
        }
      }
    }

    li:hover {
      overflow: hidden;

      img {
        min-height: 120%;
        min-width: 120%;
      }
    }

    img {
      transition: all ease-in-out .3s;
    }
  }
}
